<form class="planting-form">
  <mat-form-field class="planting-full-width">
    <input matInput placeholder="Sistema">
  </mat-form-field>

  <mat-form-field class="planting-full-width ">
    <input matInput placeholder="Lote">
  </mat-form-field>

  <mat-form-field class="planting-full-width">
    <input matInput [matDatepicker]="pickerSown" placeholder="Semeado">
    <mat-datepicker-toggle matSuffix [for]="pickerSown"></mat-datepicker-toggle>
    <mat-datepicker touchUi #pickerSown></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="planting-full-width">
    <input matInput [matDatepicker]="pickerTable" placeholder="Banca">
    <mat-datepicker-toggle matSuffix [for]="pickerTable"></mat-datepicker-toggle>
    <mat-datepicker touchUi #pickerTable></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="planting-full-width">
    <input matInput [matDatepicker]="picker50mm" placeholder="50mm">
    <mat-datepicker-toggle matSuffix [for]="picker50mm"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker50mm></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="planting-full-width">
    <input matInput [matDatepicker]="picker75mm" placeholder="75mm">
    <mat-datepicker-toggle matSuffix [for]="picker75mm"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker75mm></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="planting-full-width">
    <input matInput [matDatepicker]="pickerHarvest" placeholder="Colhido ">
    <mat-datepicker-toggle matSuffix [for]="pickerHarvest"></mat-datepicker-toggle>
    <mat-datepicker touchUi #pickerHarvest></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="planting-full-width ">
    <input matInput placeholder="Entregue">
  </mat-form-field>

</form>

