<form class="planting-form">
  <mat-form-field class="planting-full-width">
    <input matInput placeholder="Sistema">
  </mat-form-field>

  <mat-form-field class="planting-full-width ">
    <input matInput placeholder="Lote">
  </mat-form-field>

  <mat-form-field class="planting-full-width ">
    <mat-select placeholder="Tipo">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="planting-full-width ">
    <mat-select placeholder="Nome">
        <mat-option value="option1">Option1</mat-option>
        <mat-option value="option2">Option2</mat-option>
        <mat-option value="option3">Option3</mat-option>
  
    </mat-select>
  </mat-form-field>

  <mat-form-field class="planting-full-width ">
      <mat-select placeholder="Marca">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
    
      </mat-select>
    </mat-form-field>
</form>
